header {
    text-align: center;
    padding: 2rem 0;
    margin-bottom: clamp(2rem, 4.5%, 5rem);

    h1 {
        font-size: clamp(1.3rem, 1.95vw, 2rem);
        margin-bottom: 0.5em;
    }

    p {
        font-size: var(--fs);
        margin-bottom: 0.5em;
    }
}

@media (min-width: 640px) {

html {
    font-size: 16px;
}

    header {
        p {
            font-size: 1rem;
        }
    }

    .subtitle {
        display: flex;
        justify-content: center;
    }
    
}