@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

input[type=range] {
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
